# Frontend
frontend/           # Explicitly ignore deleted folder
frontend-vite/dist/ # Ignore build files (if using Vite)

# Backend
backend/node_modules/
backend/.env

# Global
node_modules/
.env
.DS_Store